{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    {# {{ component('studentpost', {}) }} #}

<p> <a href="{{ path('student_new') }}" class="btn btn-primary">Create new</a></p>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Date_naissance</th>
                <th>Date_inscrit</th>
                <th>Photo</th>
                <th>Sexe</th>
                <th>Info_perso</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.dateNaissance ? student.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student.dateInscrit ? student.dateInscrit|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ student.photo }}</td>
                <td>{{ student.sexe }}</td>
                <td>{{ student.infoPerso }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}" class="btn btn-info btn-small">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-primary btn-small">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
