<div class="card m-4">
  <div class="card-body">
    <h5 class="card-title">{{ name }} </h5>
    <h5 class="card-title">{{ surname }} </h5>
    <h5 class="card-title">{{ date_naissance }} </h5>
    <h5 class="card-title">{{ date_inscrit }} </h5>
    <h5 class="card-title">{{ sexe }} </h5>

    <p class="card-text">{{ info_perso }}</p>
  </div>
</div>
