<div class="col-4 item">
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.date_naissance) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.sexe) }}
    {{ form_row(form.info_perso) }}

    <div class="form-group">
        <button type="button" class="btn btn-danger btn-remove">Remove</button:button>
    </div>
</div>
